@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$font-stack: 'Press Start 2P', cursive;
$primaryColor: #5c6166;

h1 {
    color: #3a3838;
    text-align: center;
  }
h2 { 
    color: $primaryColor;
    text-align: center;
    }

body {
  background: url("../images/confectionary.png");
  font-family: $font-stack;
  font-size: .7em;  
}

#team-members {
  clear: both;

  .member {
    float: left;
    margin: 10px;
    padding: 6px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
  
      @include transition(border-radius .5s, -webkit-filter .5s, box-shadow .5s, transform .3s);

      &:hover {


        border-radius: 35%;

        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

        transform: scale(1.3,1.3);
       
      }
    }

    div.name {
      text-align: center;  
    }
  }
}

.arvinder {
  background: url("../images/arvinder.jpg");
}

.arvinder:hover {
  background: url("../images/arvinder2.jpg");
}

.char {
  background: url("../images/charlyne_fothergill.jpg");
}

.char:hover {
  background: url("../images/charlyne_fothergill2.jpg");
}

.david {
  background: url("../images/davidvandusen.jpg");
}

.david:hover {
  background: url("../images/davidvandusen2.jpg");
}

.don {
  background: url("../images/don_burks.jpg");
}

.don:hover {
  background: url("../images/don_burks2.jpg");
}

.jeremy {
  background: url("../images/jeremy_shaki.jpg");
}

.jeremy:hover {
  background: url("../images/jeremy_shaki2.jpg");
}

.khurram {
  background: url("../images/khurram_virani.jpg");
}

.khurram:hover {
  background: url("../images/khurram_virani2.jpg");
}

